/* #exp-form {
    padding: 20px;
    border-radius: 8px;
    background-color: white;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 280px;
    /* margin: 0 auto 30px auto; */
/* } */ 
td{
    border: 1px solid black;
    padding: "8px";
}

